<div class="calendar-header">
  <div>
    {{displayMonth}}
  </div>
  <div>
    <input (click)="setCurrentMonth()" type="button" value="Today"/>
    <input (click)="decreaseMonth()" type="button" value="<"/>
    <input (click)="increaseMonth()" type="button" value=">"/>
  </div>
</div>
<table class="calendar-table" *ngIf="calendar" class='calendar-table'>
  <thead>
  <tr>
    <th>Monday</th>
    <th>Tuesday</th>
    <th>Wednesday</th>
    <th>Thursday</th>
    <th>Friday</th>
    <th>Saturday</th>
    <th>Sunday</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let row of calendar | chunk: 7; let i = index">
    <td *ngFor="let c of row; let j = index" [ngClass]="{'past-date': c.isPastDate, 'today': c.isToday, 'event': c.dayEvent}"
        class="calendar-day" (click)="dayClick(c)">
      <div [ngClass]="{'blue-date': c.isToday}" class="calendar-day-header"><strong>{{c.date.getDate()}}</strong>
        <strong
          *ngIf="c.isToday || (i==0 && j==0) || (c.date.getDate() == 1)"> {{monthNames[c.date.getMonth()]}}</strong>
      </div>
    </td>
  </tr>
  </tbody>
</table>
